/*! GLOBAL STYLES */
:root {
  --maxWidth: 1400px;
  --black: #000000;
  --white: #ffffff;
  --grey: #999797;
  --red: #d11d1d;
  --gold: #d7ab25;
  --fontHeading: 'Aladin',
    cursive;
  --fontBody: 'poppins', sans serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 1000px) {
    font-size: 60.5%;
  }

  @media screen and (max-width: 800px) {
    font-size: 58.5%;
  }

  @media screen and (max-width: 600px) {
    font-size: 55.5%;
  }
}

#root {
  width: 100%;
}

body {
  background-color: var(--black);
  font-family: var(--fontBody);
  font-size: 1.4rem;
  color: var(--white);
  line-height: 1.5;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  font-style: none;
  color: var(--white);
}

.carousel-slider>button {
  border-radius: 0 !important;
}

.control-arrow {
  background-color: #000000 !important;
  opacity: .5 !important;
  color: #fff !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

a:hover,
a:focus,
a:active,
a:hover,
a:visited {
  text-decoration: none !important;
  color: none !important;
  background-color: none;
}

.wrapper {
  max-width: var(--maxWidth);
  margin: 0 auto;
}


.section-title {
  margin: 10rem 0 4rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.3rem;

  width: fit-content;

  &::after {
    display: block;
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    margin-top: 1px;
  }
}

.see-all {
  font-size: 1.4rem;
  margin: 6rem 0;
  // text-decoration: underline;
}

.section-title,
.see-all {
  margin-left: 5rem;

  @media screen and (max-width: 1000px) {
    margin-left: 3rem;
  }

  @media screen and (max-width: 600px) {
    margin-left: 1rem;
  }
}

button {
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 30px;
  outline: none;
  // font-size: 1.4rem;
  font-family: var(--fontBody);
  color: var(--white);
  // text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  cursor: pointer;
}

button.red {
  background-color: var(--red);
  border: 1px solid var(--red);
}

button.black {
  background-color: var(--black);
  border: 1px solid var(--grey);
}

button svg {
  font-size: 5rem;
}

.netflix-img {
  width: 5%;
}


/*! HELPER CLASSES */
.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.fd-c {
  flex-direction: column;
}

.ai-c {
  align-items: center;
}

.ai-s {
  align-items: flex-start;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}