.movies {
  width: 100%;
  padding: 6rem 2rem;
   @media screen and (max-width: 500px) {
     padding: 7rem 1rem;
   }

  &-container {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 6rem 3rem;
    display: flex;
    flex-wrap: wrap;
  }

  .movies-form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;

    &-icon {
      margin-right: -3.5rem;
      font-size: 2rem;
    }

    & input {
      border: none;
      outline: none;
      width: 70%;
      padding: 1.3rem 1rem 1.3rem 5rem;
      border-radius: 30px;
      font-family: var(--fontBody);
      font-size: 1.4rem;
      color: var(--grey);
      letter-spacing: 1px;
      background-color: transparent;
      border: 2px solid rgba(#d11d1d, .4);
      transition: .2s ease-in-out;

      @media screen and (max-width: 800px) {
        width: 85%;
      }
       @media screen and (max-width: 500px) {
         width: 95%;
       }

      &:focus {
        width: 80%;

        @media screen and (max-width: 500px) {
          width: 90%;
        }
         @media screen and (max-width: 500px) {
           width: 97%;
         }
      }

      &::placeholder {
        font-family: var(--fontBody);
        font-size: 1.4rem;
        letter-spacing: 1px;
      }
    }
  }

  &-card {
    padding-top: 4rem;
    flex-basis: 20rem;
    box-shadow: -8px 2px 38px -2px rgba(0, 0, 0, 0.71);

    @media screen and (max-width: 450px) {
      flex-basis: 30rem;
    }
    @media screen and (max-width: 310px) {
      flex-basis: 25rem;
    }

    & img {
      width: 100%;
      border-radius: 5px;
    }
  }

  &-details {
    padding: 0 1px;
  }

  &-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin: .4rem 0 .7rem;
    @media screen and (max-width: 500px){
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &-info {
    color: var(--grey);
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 3px;

    &-icons span {
      margin: 0 .3rem;
      font-size: 1.3rem;
      display: flex;
      align-items: flex-start;

      & svg {
        margin: 0 .3rem;
      }
    }
  }

  &-button {
    margin-top: 6rem;

    & .red {
      margin-right: 2rem;
    }
  }
}