.singleMovie {
  padding-bottom: 6rem;
  &-wrapper {
    padding: 7rem 5rem !important;

    @media screen and (max-width: 800px) {
      padding: 7rem 3rem !important;
      flex-direction: column;
    }

    @media screen and (max-width: 600px) {
      padding: 6rem 1rem !important;
    }
  }

  & .wrapper{
    padding: 0 5rem;
  }

  &-watch {
    justify-content: flex-start;
    text-transform: uppercase;

    & svg {
      width: 3rem !important;
    }
  }

  &-figure {
    width: 27rem;

    @media screen and (max-width: 800px) {
      display: block !important;
      width: 30rem;
    }

    @media screen and (max-width: 350px) {
      width: 20rem;
    }
  }

  &-logo{
    & svg{
      font-size: 2rem;
      font-weight: 900;
      margin-right: 1rem;
    }
  }
  &>.wrapper {
    padding: 0 2rem;
  }

  &__cast {
    gap: 5rem 6rem;

    &-name,
    &-gender,
    &-character {
      margin-top: 1rem;
      font-size: 1.3rem;

      & span {
        //  display: block;
        margin-right: 1rem;
        color: var(--red);
        font-weight: 700;
        font-size: 1rem;
      }
    }

    &-card {
      width: 20rem;

      @media screen and (max-width: 500px) {
        width: 80%;
      }

      img {
        width: 100%;
        border-radius: 5px;
      }
    }
  }

  &__similar {
    gap: 5rem;
    margin: 0 auto;

    &-card {
      width: 25rem;

     @media screen and (max-width: 500px) {
       width: 29rem;
     }

      img {
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}