.carousel {
  position: relative;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 800px) {
    background-size: cover;
    background-position: center;
  }

  &>.wrapper {
    width: 100%;
    padding: 8rem 10rem;
    margin: auto;

    @media screen and (max-width: 1000px) {
      padding: 4rem 5rem;
    }

    @media screen and (max-width: 600px) {
      padding: 2rem 5rem;
    }

    @media screen and (max-width: 600px) {
      padding: 0 3rem;
    }
  }

  &-bg {
    filter: brightness(30%);
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: none !important;

    @media screen and (max-width: 600px) {
      display: block !important;
    }
  }

  &-header {
    z-index: 1000 !important;
    align-self: stretch;
    justify-self: flex-start;
    height: 8rem;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;

    & .wrapper {
      height: 100%;
      padding: 0 4rem;

      @media screen and (max-width: 500px) {
        padding: 0 2rem;
      }
    }

    &-nav {
      &>span:not(:last-of-type) {
        margin-right: 6rem;

        @media screen and (max-width: 500px) {
          margin-right: 3rem;
        }
      }

      &>span svg {
        color: var(--white);
        font-size: 2.5rem;

        @media screen and (max-width: 500px) {
          font-size: 2rem;
        }
      }
    }
  }

  &-figure {
    z-index: 10;
    width: 27rem;

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  &-poster {
    justify-self: flex-start;
    width: 100%;
    border-radius: 10px;
  }

  &-content {
    z-index: 10;
    width: 55%;
    text-align: left;

    @media screen and (max-width: 800px) {
      margin-bottom: 4rem;
      width: 85%;
    }

    @media screen and (max-width: 600px) {
      width: 98%;
    }
  }

  &-title {
    font-weight: 600;
    font-size: 3.5rem;
    margin-bottom: 3rem;
    line-height: 1.3;

    @media screen and (max-width: 500px) {
      font-size: 3.5rem
    }
  }

  &-tagline {
    color: var(--grey);
    font-style: italic;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 3rem;
  }

  &-genres {
    gap: 2rem;
    margin-bottom: 3rem;

    @media screen and (max-width: 600px) {
      gap: 1rem;
    }
  }

  &-genre {
    color: var(--gold);
    border: 1px solid var(--white);
    font-size: 1.3rem;
    padding: 1rem 1.5rem;
    border-radius: 20px;

    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
      padding: .8rem 1.3rem;
    }
  }

  &-timeGenre {
    color: var(--grey);
    // font-style: italic;
    font-weight: 600;
    margin-bottom: 3rem;

    & .divider {
      color: rgba(#eee, .2);
      margin: 0 1rem;
    }

    & span svg {
      font-size: 2rem;
      margin-right: .5rem;
      margin-bottom: .2rem;
    }
  }

  &-noOverview {
    color: var(--gold);
    font-style: italic;
  }

  &-overview {
    font-weight: 400;
    margin-bottom: 2.5rem;
    line-height: 1.8;
  }

  &-btn {
    font-size: 1.2rem;

    & svg {
      font-size: 1.2rem;
      margin-left: .5rem;
    }
  }
}

.carousel-logo {
  font-family: var(--fontbody);
  font-weight: 700;
  font-size: 2.3rem;
  text-shadow: var(--red);
  color: var(--red);
  text-align: center;
  animation: blink 2s infinite ease-in-out;

  @media screen and (max-width: 500px) {
    font-size: 2rem;
  }
}

.carousel-slider .control-arrow {
  border-radius: 0;
  opacity: 1 !important;
}

.control-arrow {
  opacity: 1 !important;
  top: 8rem !important;
}

@keyframes blink {

  20%,
  50%,
  55% {
    color: var(--gold);
    text-shadow: none;
  }

  0%,
  21%,
  54%,
  100% {
    text-shadow: var(--red);
    color: var(--red);
  }
}