.carousel {
  position: relative;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 800px) {
    background-position: center;
  }

  &>.wrapper {
    padding: 7rem 10rem;
    margin: auto;

    @media screen and (max-width: 1000px) {
      padding: 4rem 5rem;
    }
    @media screen and (max-width: 800px) {
      padding: 0 5rem;
    }
     @media screen and (max-width: 600px) {
       padding: 0 3rem;
     }
  }

  &-header {
    align-self: stretch;
    justify-self: flex-start;
    height: 8rem;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;

    & .wrapper {
      height: 100%;
      padding: 0 4rem;
      @media screen and (max-width: 500px) {
       padding: 0 2rem;
      }
    }

    &-nav {
      &>span:not(:last-of-type) {
        margin-right: 6rem;
        @media screen and (max-width: 500px) {
          margin-right: 3rem;
        }
      }

      &>span svg {
        color: var(--white);
        font-size: 2.5rem;
        @media screen and
        (max-width: 500px) {
         font-size: 2rem;
        }
      }
    }
  }

  &-figure {
    width: 27rem;
    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  &-poster {
    justify-self: flex-start;
    width: 100%;
    border-radius: 10px;
  }

  &-content {
    width: 55%;
    text-align: left;

    @media screen and (max-width: 800px) {
      margin-bottom: 4rem;
      width: 85%;
    }
    @media screen and (max-width: 600px) {
      width: 98%;
    }
  }

  &-title {
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 3rem;
    line-height: 1.3;
    @media screen and (max-width: 500px) {
      font-size: 3.5rem
    }
  }

  &-timeGenre {
    color: var(--grey);
    font-weight: 700;
    // font-style: italic;
    margin-bottom: 3rem;

    & .divider {
      color: rgba(#eee, .2);
      margin: 0 1rem;
    }

    & span svg {
      font-size: 2rem;
      margin-right: .5rem;
      margin-bottom: .2rem;
    }
  }

  &-overview {
    font-weight: 400;
    margin-bottom: 4rem;
    line-height: 1.6;
  }

  &-button {
    & button svg {
      font-size: 2rem;
      margin-right: .5rem;
    }
  }
}

.carousel-logo {
  font-family: var(--fontbody);
  font-weight: 900;
  font-size: 2.5rem;
  text-shadow: var(--red);
  color: var(--red);
  text-align: center;
  animation: blink 2s infinite ease-in-out;

  @media screen and (max-width: 500px) {
   font-size: 2rem;
  }
}

@keyframes blink {

  20%,
  50%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  21%,
  54%,
  100% {
    text-shadow: var(--red);
    color: var(--red);
  }
}